{% extends 'base.html.twig' %}
{% block title %}Contactos{% endblock %}
{% block body %}
        <h1>Listado de contactos</h1>
    {% if contactos %}
            {% for contacto in contactos %}
                {{ include ('contacto/partials/datosContacto.html.twig', {'contacto' : contacto }) }}
            {% endfor %}
        {% else %}
            <p>contacto no encontrado</p>
        {% endif %}
{% endblock %}
